evatic_zapier_cli_app2/first_web_server/Connected Services/external_helpdesk_ev/ExternalHelpdesk31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Evatic.Common.Service.DataContract.ExternalHelpdesk" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Evatic.Common.Service.DataContract.ExternalHelpdesk" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfExternalHelpdeskTaskPreOrderDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExternalHelpdeskTaskPreOrderDataContract" nillable="true" type="tns:ExternalHelpdeskTaskPreOrderDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExternalHelpdeskTaskPreOrderDataContract" nillable="true" type="tns:ArrayOfExternalHelpdeskTaskPreOrderDataContract" />
  <xs:complexType name="ExternalHelpdeskTaskPreOrderDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArticleNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="StockNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExternalHelpdeskTaskPreOrderDataContract" nillable="true" type="tns:ExternalHelpdeskTaskPreOrderDataContract" />
</xs:schema>